In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('TAP-PD_OPDM_Assessment.csv')
data

,REC_ID,F_STATUS,PATNO,EVENT_ID,PAG_NAME,INFODT,OPDMCMPL,DEVICESN,DIGITOGR,PACKEYBD,PEGBRD,XFRYN,XFRDT,OPDMTM,ORIG_ENTRY,LAST_UPDATE,QUERY,SITE_APRV
0,312776601,S,3432,BL,TAPOPDM,09/2011,1,HVDG9341016,1.0,1.0,1.0,1.0,09/2011,NaN,09/2011,2020-06-30 09:06:16.0,NaN,09/2011
1,314756601,S,3433,BL,TAPOPDM,09/2011,1,HVDG9341006,1.0,1.0,1.0,1.0,09/2011,NaN,09/2011,2020-06-30 09:06:54.0,NaN,09/2011
2,318524501,S,3435,BL,TAPOPDM,10/2011,1,HVDG9353016,1.0,1.0,1.0,1.0,10/2011,NaN,10/2011,2020-06-30 09:12:37.0,NaN,10/2011
3,322801201,S,3436,BL,TAPOPDM,11/2011,1,HVDG9343009,1.0,1.0,1.0,1.0,11/2011,NaN,12/2011,2020-06-30 09:13:39.0,NaN,12/2011
4,325919401,S,3220,BL,TAPOPDM,12/2011,1,HVDG9341003,1.0,1.0,1.0,0.0,NaN,NaN,12/2011,2020-06-26 19:12:13.0,NaN,12/2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,727844301,S,3310,V14,OPDM,02/2019,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/2019,2020-06-08 11:53:02.0,NaN,02/2019
302,741740301,S,3316,V14,OPDM,05/2019,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05/2019,2020-06-08 15:52:04.0,NaN,05/2019
303,744659901,S,3779,V14,OPDM,05/2019,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06/2019,2020-06-22 15:05:45.0,NaN,06/2019
304,753545501,S,3901,V14,OPDM,08/2019,0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,08/2019,2020-06-26 18:43:36.0,NaN,08/2019
305,761912101,S,3908,V14,OPDM,11/2019,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/2019,2020-06-26 18:43:37.0,NaN,12/2019

In [3]:
data.columns

Index(['REC_ID', 'F_STATUS', 'PATNO', 'EVENT_ID', 'PAG_NAME', 'INFODT',
       'OPDMCMPL', 'DEVICESN', 'DIGITOGR', 'PACKEYBD', 'PEGBRD', 'XFRYN',
       'XFRDT', 'OPDMTM', 'ORIG_ENTRY', 'LAST_UPDATE', 'QUERY', 'SITE_APRV'],
      dtype='object')

In [4]:
data_new = data.drop(['REC_ID', 'F_STATUS', 'PATNO', 'EVENT_ID', 'PAG_NAME', 'INFODT',
       'OPDMCMPL', 'DEVICESN', 'XFRYN',
       'XFRDT', 'OPDMTM', 'ORIG_ENTRY', 'LAST_UPDATE', 'QUERY', 'SITE_APRV'], axis=1)
data_new

     DIGITOGR  PACKEYBD  PEGBRD
0         1.0       1.0     1.0
1         1.0       1.0     1.0
2         1.0       1.0     1.0
3         1.0       1.0     1.0
4         1.0       1.0     1.0
..        ...       ...     ...
301       NaN       NaN     NaN
302       NaN       NaN     NaN
303       NaN       NaN     NaN
304       NaN       NaN     NaN
305       NaN       NaN     NaN

[306 rows x 3 columns]

In [5]:
data_preprocess = data_new.dropna()
data_preprocess

     DIGITOGR  PACKEYBD  PEGBRD
0         1.0       1.0     1.0
1         1.0       1.0     1.0
2         1.0       1.0     1.0
3         1.0       1.0     1.0
4         1.0       1.0     1.0
..        ...       ...     ...
237       1.0       1.0     1.0
238       1.0       1.0     1.0
248       1.0       1.0     1.0
251       1.0       1.0     1.0
253       1.0       1.0     1.0

[226 rows x 3 columns]

In [10]:
data_preprocess['DIGITOGR'].value_counts()

1.0    226
Name: DIGITOGR, dtype: int64

In [13]:
data_preprocess['PACKEYBD'].value_counts()

1.0    224
0.0      2
Name: PACKEYBD, dtype: int64

In [14]:
data_preprocess['PEGBRD'].value_counts()

1.0    225
0.0      1
Name: PEGBRD, dtype: int64

In [ ]:
# 데이터 무의미